[submodule "lib/vendor/doctrine-common"]
	path = lib/vendor/doctrine-common
	url = git://github.com/doctrine/common.git
[submodule "lib/vendor/jackalope"]
	path = lib/vendor/jackalope
	url = git://github.com/jackalope/jackalope.git
[submodule "lib/vendor/Symfony/Component/Yaml"]
	path = lib/vendor/Symfony/Component/Yaml
	url = git://github.com/symfony/Yaml.git
