[submodule "lib/vendor/doctrine-common"]
	path = lib/vendor/doctrine-common
	url = git://github.com/doctrine/common.git
[submodule "lib/vendor/Symfony/Component/Yaml"]
	path = lib/vendor/Symfony/Component/Yaml
	url = git://github.com/symfony/Yaml.git
[submodule "lib/vendor/phpcr"]
	path = lib/vendor/phpcr
	url = git://github.com/phpcr/phpcr.git
[submodule "lib/vendor/phpcr-utils"]
	path = lib/vendor/phpcr-utils
	url = git://github.com/phpcr/phpcr-utils.git
