<?php
/**
 * The config file is responsible to make class loading work and initialize a
 * DocumentManagerHelper that contains the doctrine document manager with a
 * Session of your phcpr implementation.
 * The array $extraCommands can be used to inject implementation specific commands.
 * Add instances of commands for eventual implementation specific commands to this array.
 */

$extraCommands = array();

$params = array(
    'midgard2.configuration.db.type' => 'SQLite',
    'midgard2.configuration.db.name' => 'odm',
    'midgard2.configuration.db.dir' => '/tmp',
    'midgard2.configuration.db.init' => true,
    'midgard2.configuration.blobdir' => '/tmp/blobs'
);

$workspace = '';
$user = 'admin';
$pass = 'password';

$factory = new \Midgard\PHPCR\RepositoryFactory();
$repository = $factory->getRepository($params);
$credentials = new \PHPCR\SimpleCredentials($user, $pass);
$session =  $repository->login($credentials, $workspace);

/* prepare the doctrine configuration */
$config = new \Doctrine\ODM\PHPCR\Configuration();
$driver = new \Doctrine\ODM\PHPCR\Mapping\Driver\AnnotationDriver(
    new \Doctrine\Common\Annotations\AnnotationReader(),
    __DIR__ . '/lib/Doctrine/ODM/PHPCR/Document'
);
$config->setMetadataDriverImpl($driver);

$dm = \Doctrine\ODM\PHPCR\DocumentManager::create($session, $config);

$helperSet = new \Symfony\Component\Console\Helper\HelperSet(array(
    'dm' => new \Doctrine\ODM\PHPCR\Tools\Console\Helper\DocumentManagerHelper(null, $dm)
));
