{
    "runner.path": "benchmarks",
    "runner.bootstrap": "benchmarks/bootstrap.php",
    "runner.file_pattern": "*Bench.php",
    "report.generators": {
        "phpbench_aggregate": {
            "extends": "aggregate",
            "cols": [ "subject", "its", "mem_peak", "worst", "mean", "mode", "best", "rstdev" ]
        },
        "all": {
            "generator": "composite",
            "reports": [ "env", "phpbench_aggregate" ]
        }
    }
}
