<phpunit colors="true" bootstrap="bootstrap.php" backupGlobals="false" cacheTokens="true">
    <php>
        <var name="DOCTRINE_PHPCR_FACTORY" value="\Midgard\PHPCR\RepositoryFactory" />
        <var name="midgard2.configuration.db.type" value="SQLite" />
        <var name="midgard2.configuration.db.name" value="odm" />
        <var name="midgard2.configuration.db.dir" value="/tmp" />
        <var name="midgard2.configuration.db.init" value="true" />
        <var name="midgard2.configuration.blobdir" value="/tmp/blobs" />
        <!--<var name="midgard2.configuration.loglevel" value="debug" />-->
        <var name="DOCTRINE_PHPCR_USER" value="admin" />
        <var name="DOCTRINE_PHPCR_PASS" value="password" />
        <var name="DOCTRINE_PHPCR_WORKSPACE" value="" />
        <!-- to adjust performance results to your specific hardware, use integers only. -->
        <!-- the InsertPerformanceTest tries to insert count nodes in one second -->
        <var name="DOCTRINE_PHPCR_PERFORMANCE_COUNT" value="100" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../lib/Doctrine/ODM/PHPCR</directory>
        </whitelist>
    </filter>
</phpunit>
